In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('Housing.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             537 non-null    float64
 1   area              543 non-null    float64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          542 non-null    object
 6   guestroom         544 non-null    object
 7   basement          544 non-null    object
 8   hotwaterheating   544 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  542 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 55.5+ KB

In [16]:
# Get current count of missing values
initial_missing_count = data.isnull().sum().sum()

# Calculate additional missing values needed to reach 111 total
additional_missing_needed = 111 - initial_missing_count

print(initial_missing_count)

111

In [15]:
# Randomly introduce additional missing values
for _ in range(additional_missing_needed):
    # Randomly select a row index
    row = np.random.randint(0, data.shape[0])
    # Randomly select a column index
    col = np.random.randint(0, data.shape[1])
    # Set the selected cell to NaN
    data.iloc[row, col] = np.nan

In [17]:
total_missing_count = data.isnull().sum().sum()
print("Total Missing Entries:", total_missing_count)
print(data.info())  # Check updated info with missing values

Total Missing Entries: 111
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             532 non-null    float64
 1   area              537 non-null    float64
 2   bedrooms          540 non-null    float64
 3   bathrooms         533 non-null    float64
 4   stories           538 non-null    float64
 5   mainroad          535 non-null    object
 6   guestroom         533 non-null    object
 7   basement          536 non-null    object
 8   hotwaterheating   538 non-null    object
 9   airconditioning   539 non-null    object
 10  parking           542 non-null    float64
 11  prefarea          540 non-null    object
 12  furnishingstatus  531 non-null    object
dtypes: float64(6), object(7)
memory usage: 55.5+ KB
None

In [18]:
new_data = pd.DataFrame(data)
print(new_data)

          price    area  bedrooms  bathrooms  stories mainroad guestroom  \
0           NaN  7420.0       4.0        2.0      3.0      yes        no
1    12250000.0     NaN       4.0        4.0      4.0      yes        no
2    12250000.0  9960.0       3.0        2.0      2.0      yes        no
3    12215000.0  7500.0       4.0        2.0      2.0      yes        no
4    11410000.0  7420.0       4.0        1.0      2.0      yes       yes
..          ...     ...       ...        ...      ...      ...       ...
540   1820000.0  3000.0       2.0        1.0      1.0      yes        no
541   1767150.0  2400.0       3.0        1.0      1.0       no        no
542   1750000.0  3620.0       2.0        1.0      1.0      yes        no
543   1750000.0  2910.0       3.0        1.0      1.0       no        no
544   1750000.0  3850.0       3.0        1.0      2.0      yes        no

    basement hotwaterheating airconditioning  parking prefarea  \
0         no              no             yes      2.0      yes
1         no              no             yes      3.0       no
2        yes              no              no      2.0      yes
3        NaN              no             yes      3.0      yes
4        yes              no             yes      2.0       no
..       ...             ...             ...      ...      ...
540      yes              no              no      2.0       no
541       no              no              no      0.0       no
542       no              no              no      0.0       no
543       no              no              no      0.0       no
544       no              no              no      0.0       no

    furnishingstatus
0          furnished
1          furnished
2     semi-furnished
3          furnished
4          furnished
..               ...
540      unfurnished
541   semi-furnished
542      unfurnished
543        furnished
544      unfurnished

[545 rows x 13 columns]

In [19]:
new_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,NaN,7420.0,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000.0,NaN,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000.0,9960.0,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000.0,7500.0,4.0,2.0,2.0,yes,no,NaN,no,yes,3.0,yes,furnished
4,11410000.0,7420.0,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished

In [22]:
new_data.to_csv('out.csv',sep=',', encoding='utf-8', index=False, header=True)

In [8]:
data.head(100)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,NaN,7420.0,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000.0,NaN,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000.0,9960.0,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000.0,7500.0,4.0,2.0,2.0,yes,no,NaN,no,yes,3.0,yes,furnished
4,11410000.0,7420.0,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6300000.0,4100.0,3.0,2.0,3.0,yes,no,no,no,yes,2.0,no,semi-furnished
96,6300000.0,9000.0,3.0,1.0,1.0,yes,no,yes,no,no,1.0,yes,furnished
97,6300000.0,6400.0,3.0,1.0,1.0,yes,yes,yes,no,yes,1.0,yes,semi-furnished
98,6293000.0,6600.0,3.0,2.0,3.0,yes,no,no,no,yes,0.0,yes,unfurnished
99,6265000.0,6000.0,4.0,1.0,3.0,yes,yes,yes,no,no,0.0,yes,unfurnished